<% @posts.each do |post|%>
  <div class="post">
	<h2 class="post-title"><%= link_to post.title, post %></h2>
	<span class="post-meta"><%= post.created_at %></span>
	<div class="exerpt"><%= post.body.truncate(250) %></div>
  </div>
<% end %>


